MauiApp/bin
MauiApp/obj
MauiApp\bin
MauiApp\obj

ShareExtensions\ShareExtensionXamarinApp\ShareExtensionXamarinApp\bin
ShareExtensions\ShareExtensionXamarinApp\ShareExtensionXamarinApp\obj
ShareExtensions/ShareExtensionXamarinApp/ShareExtensionXamarinApp/bin
ShareExtensions/ShareExtensionXamarinApp/ShareExtensionXamarinApp/obj

ShareExtensions\ShareExtensionXamarinApp\ShareExtension\bin
ShareExtensions\ShareExtensionXamarinApp\ShareExtension\obj
ShareExtensions/ShareExtensionXamarinApp/ShareExtension/bin
ShareExtensions/ShareExtensionXamarinApp/ShareExtension/obj

.vs
.vscode
.*.user
.DS_Store