MauiApplication/bin
MauiApplication/obj
MauiApplication\bin
MauiApplication\obj

ShareExtension\ShareExtension\bin
ShareExtension\ShareExtension\obj
ShareExtension/ShareExtension/bin
ShareExtension/ShareExtension/obj

ShareExtension\ShareExtensionXamarinApp\bin
ShareExtension\ShareExtensionXamarinApp\obj
ShareExtension/ShareExtensionXamarinApp/bin
ShareExtension/ShareExtensionXamarinApp/obj

.vs
.vscode
.*.user
.DS_Store